:root {
  --color-gray-0: #FFFFFF;
  --color-gray-50: #FAFAFA;
  --color-gray-100: #F5F5F5;
  --color-gray-200: #EEEEEE;
  --color-gray-300: #E0E0E0;
  --color-gray-400: #BDBDBD;
  --color-gray-500: #9E9E9E;
  --color-gray-600: #757575;
  --color-gray-700: #616161;
  --color-gray-800: #424242;
  --color-gray-900: #212121;
  --color-blue-600: #0074AF;
  --color-text-disabled: rgba(0; 0; 0; 0.38);
  --color-text-secondary: rgba(0; 0; 0; 0.6);
  --color-text-primary: rgba(0; 0; 0; 0.87);
  --font-size-title: 40px;
  --font-size-headline1: 32px;
  --font-size-headline2: 24px;
  --font-size-subhead1: 20px;
  --font-size-subhead2: 18px;
  --font-size-body1: 16px;
  --font-size-body2: 14px;
  --font-size-body3: 12px;
  --line-height-normal: 1.5;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
  font-size: var(--font-size-body1);
}

a {
  color: var(--color-blue-600);
  text-decoration: none;
}

button {
  cursor: pointer;
}
